@media (max-width: 992px) {
  .text-md {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a :hover {
  cursor: default;
}

.containerUser {
  background: rgb(93, 92, 92);
  background: linear-gradient(
    90deg,
    rgba(93, 92, 92, 1) 0%,
    rgba(55, 55, 55, 1) 32%,
    rgba(31, 30, 30, 1) 68%
  );
}

.loginCard {
  background-image: linear-gradient(
    to bottom,
    #3b3b3b,
    #373838,
    #323535,
    #2f3230,
    #2d2e2b
  );
}

.containerSignup {
  width: 50%;
}

.inputSignup {
  color: black;
  border: 2px solid #2d2e2b;
  border-block-color: #800;
  font-size: 1.3em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.658);
  margin: 2%;
  width: 70%;
}

.btnSignup {
  width: 20%;
}
.btnSignup:hover {
  text-decoration: underline;
  text-decoration-color: #800;
}
.inputSignup:focus {
  outline: none !important;
  border: 2px solid #800;
  box-shadow: 0 0 5px red;
  background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 992px) {
  .inputSignup {
    color: black;
    border: 2px solid #2d2e2b;
    border-block-color: #800;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.658);
    margin: 2%;
    width: 100%;
  }
  .btnSignup {
    width: 100%;
  }
  .containerSignup {
    width: 80%;
  }
}
